# Ejemplo de variables de entorno para ejecutar contenedores Docker
# Copia este archivo como .env y configura tus conexiones reales

# Conexion a MongoDB para QA
MONGO_CONNSTR_QA=mongodb+srv://user:password@cluster-qa.mongodb.net/MyDbQA?retryWrites=true&w=majority

# Conexion a MongoDB para Produccion
MONGO_CONNSTR_PROD=mongodb+srv://user:password@cluster-prod.mongodb.net/MyDbProd?retryWrites=true&w=majority
